@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
    color: black;
}

a {
    line-height: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D8FD3;
    padding: 10px 20px;
    height: 10vh;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.nav-links a:hover {
    background-color: #02CEED;
    color: white;
}

main {
    max-height: 1300px;
}

header {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url(https://m.media-amazon.com/images/I/61RYygMFqyL._AC_UF1000,1000_QL80_.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    justify-content: center;
}

header div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;
    gap: 20px;
    background-color: white;
    height: 400px;
    width: 50vw;
    align-self: center;
    transition: 0.8ms ease-in;
    max-height: 80vh;
}

.button {
    border: 1px solid black;
    background-color: #6FC3FF;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: block;
    transition: 0.3s ease-in;
    width: auto;
}

.buttons-toghter {
    display: flex;
    flex-direction: row;
    max-height: 10px;
}

.button:hover {
    color: #6FC3FF;
    background-color: white;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 30px;
}

.flex-item {
    background-color: white;
    padding: 20px;
    flex: 1 45%;
    min-height: 200px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.flex-item img {
    height: 350px;
    width: 400px;
}

h3 {
    margin-bottom: 10px;
}

.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    font-size: 24px;
    margin: 0 20px;
    border: 1px solid black;
    background-color: #6FC3FF;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: 0.3s ease-in;
    width: auto;
}

#counter {
    position: absolute;
    left: 62%;
    top: 180%;
}

.arrow:hover {
    color: #6FC3FF;
    background-color: white;
}

.image-placeholder {
    width: 150px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

ol {
    text-align: left;
    padding-left: 20px;
}
.email{
    display: flex;
    flex-direction: row;
}
.column-footer{
    flex-direction: column;
}
.footer {
    background-color: #3D8FD3;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px; 
}


.footer-left .logo img {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: none;
}

.email input[type="email"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.send-footer {
    background-color: #02CEED;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in 0.5s;
}

.send-footer:hover {
    background-color: #3272B2;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

#thank-you {
    background-color: #3A88D6;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#thank-you h1 {
    color: white;
    margin: 0px;
}

.back{
    text-decoration: none;
    padding: 20px;
    background-color: #02CEED;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 11px 12px 15px #017080;
}


form.contact-form {
    display: flex;
    flex-direction: column;
}

form.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 0 0 48%;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="text"]:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid red;
    background-color: #ffe6e6;
}

input[type="email"]:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid red;
    background-color: #ffe6e6;
}

textarea:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid red;
    background-color: #ffe6e6;
}

input[type="text"]:valid:not(:placeholder-shown) {
    border: 2px solid green;
    background-color: #e6ffe6;
}

input[type="email"]:valid:not(:placeholder-shown) {
    border: 2px solid green;
    background-color: #e6ffe6;
}

textarea:valid:not(:placeholder-shown) {
    border: 2px solid green;
    background-color: #e6ffe6;
}

textarea {
    resize: none;
}

.radio-group,
.checkbox-group {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.radio-group label,
.checkbox-group label {
    padding-left: 10px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

button a{
    text-decoration: none;
    color: black;
}

#thanks {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #3A88D6;
    color: white;
    font-size: 64px;
}
